/* #000000; /* black */
/* #101112; /* darker-grey */
/* #1c1c1f; /* dark-grey */
/* #222226; /* slate */
/* #35373b; /* mid-grey */
/* #87888a; /* grey */
/* #dbdbdb; /* light-grey */
/* #f6f7f7; /* off-white */
/* #ffffff; /* white */
/* #bf3f34; /* red */



#about-main-content {
	padding: 20px;
}
#about-jumbotron {
    background: linear-gradient(120deg, rgba(0, 100, 100, 0.75), rgba(0, 100, 100, 0.75)), url('../img/class_4_02.jpg');
    background-size: cover;
    background-position: 50% 75%;
}
#about-jumbotron h1 {
	color: white;
	font-size: 40px;
	padding: 50px 0px 50px 50px;
}
#rl-leadership-heading {
    background: linear-gradient(120deg, rgba(150, 150, 52, 0.75), rgba(100, 0, 0, 0.75)), url('../img/founders_dinner_01.jpg');
    background-size: cover;
    background-position: 50% 50%;
	margin-bottom: 20px !important;
}



/*************************************Kelly*************************************/
#kelly-wrapper {
	width: 100%;
	position: relative;
	background: #222226; /* slate */
	overflow: hidden;
	display: flex;
}
#kelly-image {
	float: left;
	width: 250px;
	display: flex;
	align-items: center;
	background: black;
}
#kelly-image img {
	width: 250px;
	height: 250px;
}
#kelly-content {
	float: right;
	width: calc(100% - 250px);
	padding: 20px;
}
#kelly-content hr {
	margin: 20px 0 !important;
}



/********************************Smaller Screens********************************/
@media (max-width: 768px) {
	#about-jumbotron {
		background-position: 25% 50%;
	}
	#about-jumbotron h1 {
		font-size: 24px;
		padding: 0 0 0 20px;
	}
}