/* #000000; /* black */
/* #101112; /* darker-grey */
/* #1c1c1f; /* dark-grey */
/* #222226; /* slate */
/* #35373b; /* mid-grey */
/* #87888a; /* grey */
/* #dbdbdb; /* light-grey */
/* #f6f7f7; /* off-white */
/* #ffffff; /* white */
/* #bf3f34; /* red */



#home-main-content {
	padding: 10px;
    background: linear-gradient(120deg, rgba(191, 63, 52, 0.75), rgba(0, 0, 100, 0.75)), url('../img/redlabs.jpg');
    background-size: cover;
    background-position: 50% 50%;
	background-size: cover;
	display: flex;
	flex-direction: column;
}
#home-section-top {
	background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
	flex: 1;
	text-align: center;
	display: flex;
}

#home-section-top .wrapper {
	align-self: center;
	margin: 0 auto;
}
#home-section-top .wrapper img {
	width: 150px;
	height: auto;
}
#home-section-top .wrapper #tagline {
	padding: 40px 0;
	margin: 45px auto;
	border-top: 1px solid #ffffff; /* white */
	border-bottom: 1px solid #ffffff; /* white */
	width: 80%;
	font-weight: 300;
	line-height: 32px;
}
#home-section-bottom {
	background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)); 
	/* border-top: 1px solid #999999; */
	flex: 1;
	margin: 10px;
	width: calc(100% - 20px);
	display: none;
}



@media (max-width: 768px) {
	#home-section-top .wrapper #tagline {
		font-size: 18px;
		line-height: 24px;
		padding: 25px 0;
		margin: 25px auto;
		width: 80%;
	}
	#home-section-bottom {
		display: none;
	}
}